<form method="post" action="{{ path('app_meres_delete', {'slug': mere.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mere.id) }}">
    <button class="btn">Delete</button>
</form>
