/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



/* Styles généraux */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e5e6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Formulaires */
form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

form button {
    width: auto;
    display: block;
    margin: 10px auto;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: #0056b3;
}

/* Tables - Responsive, compact and hover effect */
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: #475e77;
    color: white;
}

/* Table compacte avec la classe .table-sm */
.table-sm td,
.table-sm th {
    padding: 4px;
}

/* Effet de survol pour les lignes de la table */
.table tbody tr:hover {
    background-color: #c5c1c1; /* Couleur de fond au survol */
    cursor: pointer;
}

/* Messages de statut */
.faux {
    color: red;
    font-weight: bold;
}

.moyen {
    color: #e6b800;
    font-weight: bold;
}

.acceptable {
    color: #5dade2;
    font-weight: bold;
}

.valide {
    color: green;
    font-weight: bold;
}

/* Pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    transition: background 0.3s;
}

.pagination li a:hover {
    background-color: #5c85b1;
}


/* Appliquer un style de base aux placeholders */
.select2-placeholder-custom {
    height: 33px; /* Ajustez la hauteur selon vos besoins */
    width: 100%; /* Assurez-vous que le width couvre tout le conteneur */
    display: flex; /* Utilisez Flexbox pour centrer le contenu */
    align-items: center; /* Centre le contenu verticalement */
    font-family: sans-serif, Arial;
    font-size: 12px;
    background-color: orange; /* Couleur de fond pour le placeholder */
    color: #0f0e0e; /* Couleur du texte du placeholder */
    box-sizing: border-box; /* Inclure padding et border dans la hauteur/largeur */
}

/* Assurez-vous que le conteneur Select2 a le bon style */
.select2-container--default .select2-selection--single {
    height: 33px; /* Ajustez la hauteur selon vos besoins */
    width: 100%; /* Assurez-vous que le width couvre tout le conteneur */
    display: flex; /* Utilisez Flexbox pour centrer le contenu */
    align-items: center; /* Centre le contenu verticalement */
    font-family: sans-serif, Arial;
    font-size: 12px;
    background-color: rgb(243, 226, 193); /* Couleur de fond pour le placeholder */
    color: #0f0e0e; /* Couleur du texte du placeholder */
    box-sizing: border-box; /* Inclure padding et border dans la hauteur/largeur */
}

/* Style pour l'élément de sélection lorsque le placeholder est affiché */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 100%; /* S'assurer que le contenu occupe toute la hauteur du conteneur */
    display: flex; /* Utilisez Flexbox pour centrer le contenu */
    align-items: center; /* Centre le contenu verticalement */
    padding: 0 10px; /* Ajustez le padding si nécessaire */
    box-sizing: border-box; /* Inclure padding dans la hauteur/largeur totale */
}

.select2-placeholder-custom2 {
    height: 33px; /* Ajustez la hauteur selon vos besoins */
    width: 100%; /* Assurez-vous que le width couvre tout le conteneur */
    display: flex; /* Utilisez Flexbox pour centrer le contenu */
    align-items: center; /* Centre le contenu verticalement */
    font-family: sans-serif, Arial;
    font-size: 12px;
    background-color: rgb(240, 236, 229); /* Couleur de fond pour le placeholder */
    color: #000000; /* Couleur du texte du placeholder */
    box-sizing: border-box; /* Inclure padding et border dans la hauteur/largeur */
}

.select2-data-custom {
    color: #000000; /* Couleur du texte des données */

}

.select2-selection__rendered {
    color: #000000; /* Couleur du texte des données dans le champ sélectionné */
    background-color: white; /* Couleur de fond des données dans le champ sélectionné */
    font-family: sans-serif, Arial;
    font-size: 12px;
}

/* Pour les éléments de la liste déroulante */
.select2-results__option {
    color: #000000; /* Couleur du texte des éléments de la liste */
    background-color: #ffffff; /* Couleur de fond des éléments de la liste */
    font-family: sans-serif, Arial;
    font-size: 12px;
}
